<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522962948644-duqdgssbi8pq7eih3pi86qv4rfiepbuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522962948644-duqdgssbi8pq7eih3pi86qv4rfiepbuo</string>
	<key>API_KEY</key>
	<string>AIzaSyCCi6JHvBF0o0DO_Fdx20B5hFWl5S_-_Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>522962948644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.falabella.InterViewTask</string>
	<key>PROJECT_ID</key>
	<string>falabellainterviewtask</string>
	<key>STORAGE_BUCKET</key>
	<string>falabellainterviewtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522962948644:ios:50ba679998190a45b87eb1</string>
	<key>DATABASE_URL</key>
	<string>https://falabellainterviewtask.firebaseio.com</string>
</dict>
</plist>